name: Test and Deploy

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-24.04
    outputs:
      artifact-name: test-vcd

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install iverilog
        run: sudo apt-get update && sudo apt-get install -y iverilog

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Python packages
        run: |
          pip install -r test/requirements.txt
          pip install cocotbext-uart

      - name: Run simulation tests
        run: |
          cd test
          make clean
          make
          ls -l   # Check generated files
          ! grep failure results.xml || echo "No failures detected"

      - name: Test Summary
        uses: test-summary/action@v2.3
        with:
          paths: "test/results.xml"
        if: always()

      - name: Upload simulation artifacts
        id: upload-artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-vcd
          path: |
            test/tb.vcd
            test/results.xml
            test/output/*

  deploy-pages:
    runs-on: ubuntu-24.04
    needs: test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download simulation artifacts
        uses: actions/download-artifact@v4
        with:
          name: test-vcd
          path: deploy/

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          artifact_name: test-vcd
